<div class="main-container" ngStyle.lt-md="width: 100%; padding: 15px 25px">
  <div class="row">
    <mat-form-field class="col-2" appearance="outline">
      <mat-label>Adresa e-mail</mat-label>
      <input type="text" value="atom.shop.office@gmail.com" readonly matInput />
    </mat-form-field>
    <mat-form-field class="col-2" appearance="outline">
      <mat-label>Numar telefon</mat-label>
      <input type="text" value="+4077 777 777" readonly matInput />
    </mat-form-field>
  </div>
  <mat-form-field style="width: 100%" appearance="outline">
    <mat-label>Adresa</mat-label>
    <textarea type="text" readonly matInput>Bucuresti 040011, Splaiul Independentei 1, etaj 3</textarea>
  </mat-form-field>
  <a target="_blank" href="https://www.google.ro/maps/@44.4545041,26.0282507,21z?hl=ro"><button style="width: 100%; line-height: 50px;" color="primary" type="button" mat-raised-button>Acceseaza locatia</button></a>
</div>
