.main-container {
  min-width: 900px;
  width: 75%;
  margin: 40px auto;
}

.table-container {
  overflow: auto;
}

h2 {
  text-align: center;
}

.notification-container {
  margin-top: 40px;
  text-align: center;
  font-size: 1rem;
  padding: 25px;
  background-color: whitesmoke;
}

.filter-container {
  padding: 10px;
}

mat-form-field {
  font-size: 1rem;
  width: 100%;
}

mat-table {
  min-width: 1000px;
  width: 100%;
}

mat-header-row {
  background-color: lightgray;
}

mat-row {
  transition: background-color .1s ease-in-out;
}

mat-row:hover {
  background-color: whitesmoke;
}

mat-spinner {
  margin: 0 auto 25px;
}

.custom-btn {
  margin-top: 15px;
}

.mat-column-id {
  flex: 0 0 10%;
}

.mat-column-name {
  flex: 0 0 28%;
}

mat-header-cell {
  padding: 0 5px;
}

mat-cell {
  padding: 7px 5px;
}

mat-chip {
  cursor: pointer;
}

.mat-column-id {
  flex: 0 0 7%;
}

.mat-column-email {
  flex: 0 0 20%;
}

.mat-column-activated {
  flex: 0 0 10%;
}

.mat-column-locked {
  flex: 0 0 10%;
}

.mat-column-select {
  flex: 0 0 7%;
}

.mat-column-edit {
  flex: 0 0 10%;
}
