.w-100 {
  width: 100%;
}

.row-2-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col-2 {
  width: 49%;
}

.submit-button {
  margin-top: 15px;
  width: 100%;
  font-size: 1.2rem;
  line-height: 3rem;
}
