.button-link {
  color: inherit;
}

.main-container {
  width: 70%;
  max-width: 1000px;
  margin: auto;
  padding: 50px 0;
}

form {
  padding: 50px;
}

mat-form-field {
  width: 100%;
}

.custom-button {
  font-size: 1.2rem;
  line-height: 3.5rem;
  margin-top: 15px;
  /* width: 100%; */
}

.error {
  color: red;
}
