<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <a routerLink="" class="button-link"><button style="font-size: 1.2rem;" mat-button>
        <mat-icon svgIcon="atom" style="margin-right: 7px;"></mat-icon>Atom
      </button>
    </a>
    <h1 style="margin-left: 10px;" fxHide.xs>{{title}}</h1>
    <span class="spacer" fxFlex="auto"></span>
    <a routerLink="/login" class="button-link">
      <button mat-icon-button matTooltip="Conectare la contul meu" matTooltipShowDelay="1000">
        <mat-icon>account_circle</mat-icon>
      </button>
    </a>
    <a routerLink="/register" class="button-link">
      <button mat-icon-button matTooltip="Inregistrare cont nou" matTooltipShowDelay="1000">
        <mat-icon>person_add</mat-icon>
      </button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-container" ngStyle.lt-md="width: 100%; padding: 0">
  <form #form="ngForm" (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm" ngStyle.lt-sm="padding: 15px"
    ngClass.gt-sm="mat-elevation-z8" novalidate>
    <span>Pentru a iti putea reseta parola, este necesar introduci numele de utilizator sau adresa de e-mail. Apoi, vei
      primi un e-mail cu link-ul pentru resetarea parolei.</span>
    <mat-form-field hideRequiredMarker style="margin-top: 10px;" appearance="outline">
      <mat-label>Metoda de resetare a parolei</mat-label>
      <mat-select (selectionChange)="onResetMethodSelected($event)" formControlName="resetMethod" required>
        <mat-option *ngFor="let resetMethod of resetMethods" [value]="resetMethod">{{resetMethod.caption}}</mat-option>
      </mat-select>
      <mat-error *ngIf="resetMethod.invalid && resetMethod.touched">Trebuie sa selectezi o metoda de resetare!
      </mat-error>
    </mat-form-field>
    <div *ngIf="selectedResetMethod">
      <mat-form-field hideRequiredMarker *ngIf="selectedResetMethod === 'username'" appearance="outline">
        <mat-label>Nume utilizator</mat-label>
        <input formControlName="username" matInput type="text" required />
        <mat-icon class="okay-check" *ngIf="username.valid" matSuffix>done</mat-icon>
        <mat-error *ngIf="username.invalid && username.touched">{{getControlError(username)}}</mat-error>
      </mat-form-field>
      <mat-form-field hideRequiredMarker *ngIf="selectedResetMethod === 'email'" appearance="outline">
        <mat-label>Adresa e-mail</mat-label>
        <input formControlName="email" matInput type="email" required />
        <mat-icon class="okay-check" *ngIf="email.valid" matSuffix>done</mat-icon>
        <mat-error *ngIf="email.invalid && email.touched">{{getControlError(email)}}</mat-error>
      </mat-form-field>

      <button [disabled]="resetPasswordForm.invalid || isLoading" class="submit-button" color="primary"
        mat-raised-button>Trimite link resetare</button>
        <div *ngIf="isLoading" class="notification-container">
          <mat-spinner [diameter]="50"></mat-spinner>
          <span>Se incarca. Te rugam sa astepti...</span>
        </div>
    </div>
  </form>
</div>
